---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Briefcase from "../icons/Briefcase.astro";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import MainButton from "../components/MainButton.astro";
import Mail from "../icons/Mail.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Rocket from "../icons/Rocket.astro";
import Education from "../components/Education.astro";
---

<Layout
  title="Miguel Gallardo - Desarrollador y Programador Web"
  description="Experto en Diseño Multimedia con más de 7 años de experiencia, con conocimiento en Diseño y Desarrollo Web"
>
  <main class="px-6">
    <SectionContainer class="py-44">
      <div
        class="flex flex-row gap-x-4 justify-center lg:justify-start items-center mb-4"
      >
        <img
          class="rounded-full size-12"
          src="https://media-lim1-1.cdn.whatsapp.net/v/t61.24694-24/382424100_2373274502880395_5399792881446933749_n.jpg?ccb=11-4&oh=01_Q5AaIIQysycHbBtGYYUbGg9O6sy58eQCijZcbje9vwWAlSiz&oe=66526BF7&_nc_sid=e6ed6c&_nc_cat=108"
          alt="photo"
        /><a
          href="https://www.linkedin.com/in/miguelgallardof/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponibilidad inmediata ⚡</Badge>
        </a>
      </div>

      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold pb-6 lg:pb-10 text-wrap text-center lg:text-start"
      >
        Hey, soy Miguel 👋
      </h1>
      <h2
        class="text-md text-center md:lg:text-start lg:text-xl opacity-80 text-balance lg:text-wrap"
      >
        <span>+2 años de experiencia </span>
        <span class="text-green-100/90">en Desarrollo Web.</span>
        <span>+7 años de experiencia </span>
        <span class="text-purple-100/90">en Diseño Multimedia eLearning. </span>
        <span class="text-red-200/90">De Lima, Perú 🇵🇪.</span>
        <span class="opacity-80"
          >Especializado en diseño y experiencias únicas.</span
        >
      </h2>
      <nav class="flex gap-x-4 mt-8 justify-center">
        <MainButton href="/cv.pdf" download="CV - Miguel Gallardo"
          >Descargar CV<Mail class="size-6" />
        </MainButton>
        <SocialPill href="https://www.linkedin.com/in/miguelgallardof"
          ><LinkedIn class="size-6" /></SocialPill
        >
        <SocialPill href="https://github.com/miguelgallardof">
          <GitHub class="size-6" /></SocialPill
        >
      </nav>
    </SectionContainer>

    <SectionContainer class="pt-60" id="experience">
      <h2
        class="flex items-center mb-6 text-2xl font-semibold gap-x-3 text-white"
      >
        <Briefcase class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer class="pt-60" id="experience">
      <h2
        class="flex items-center mb-10 text-2xl font-semibold gap-x-3 text-white"
      >
        <Rocket class="size-6" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer class="pt-60" id="about">
      <Education />
    </SectionContainer>
  </main>
</Layout>
