---
const personalImageAlt = "Miguel Gallardo";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-500 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-6 [&>p>strong]:text-purple-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
      de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
      industrias desde el año 1500, cuando un impresor (N. del T. persona que se
      dedica a la imprenta) desconocido usó una galería de textos y los mezcló
      de tal manera que logró hacer un libro de textos especimen.
    </p>

    <p>
      No sólo <strong>sobrevivió 500 años</strong>, sino que tambien ingresó
      como texto de relleno en documentos electrónicos, quedando esencialmente
      igual al original. Fue popularizado en los 60s con la creación de las
      hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
      recientemente con software de autoedición, como por ejemplo Aldus
      PageMaker, el cual incluye versiones de Lorem Ipsum.
    </p>

    <button
      data-tooltip-target="tooltip-default"
      type="button"
      disabled="false"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:opacity-50"
      >Default tooltip</button
    >

    <div
      id="tooltip-default"
      role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
    >
      Tooltip content
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>

  <img
    width="100"
    height='1200"'
    src="https://media-lim1-1.cdn.whatsapp.net/v/t61.24694-24/382424100_2373274502880395_5399792881446933749_n.jpg?ccb=11-4&oh=01_Q5AaIIQysycHbBtGYYUbGg9O6sy58eQCijZcbje9vwWAlSiz&oe=66526BF7&_nc_sid=e6ed6c&_nc_cat=108"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
