---
import Art from "../icons/Art.astro";
import Command from "../icons/Command.astro";
import Game from "../icons/Game.astro";

const TAGS = {
  ART: {
    icon: Art,
  },
  GAME: {
    icon: Game,
  },
  CODE: {
    icon: Command,
  },
};

const EDUCATION = [
  {
    tags: [TAGS.ART],
    title: "Dibujo y pintura | Bellas Artes",
    year: "2016 - 2017",
    description: "Aqui",
  },
  {
    tags: [TAGS.GAME],
    title: "Diseño Multimedia y Videojuegos | ISIL",
    year: "2016 - 2017",
    description: "Aqui",
  },
  {
    tags: [TAGS.CODE],
    title: "Full Stack Developer | Henry",
    year: "2016 - 2017",
    description: "Aqui",
  },
];
---

<ol class="items-center sm:flex">
  {
    EDUCATION.map(({ title, year, description, tags }) => (
      <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
          <div class="z-10 flex items-center justify-center size-9 bg-blue-700 rounded-full dark:bg-blue-900 shrink-0">
            {tags.map((tag) => (
              <tag.icon class="size-6 text-white/90" />
            ))}
          </div>
          <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700" />
        </div>
        <div class="mt-3 sm:pe-8">
          <h3 class="text-lg font-semibold text-blue-700 dark:text-white mb-2">
            {title}
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            {year}
          </time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            {description}
          </p>
        </div>
      </li>
    ))
  }
</ol>
