---
import Arrow from "../icons/Arrow.astro";

export interface Props {
  title: string;
  description: string;
  date: string;
  link?: string;
}

const { title, description, date, link } = Astro.props;
---

<div
  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
>
</div>
<time
  class="mb-1 text-sm font-normal leading-none text-purple-400 dark:text-gray-500"
  >{date}</time
>
<h3 class="text-lg font-semibold text-purple-900 dark:text-white">
  {title}
</h3>
<p
  class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty"
>
  {description}
</p>

{
  link && (
    <a
      href="#"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-full hover:bg-gray-100 hover:text-purple-700 hover:scale-105 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-purple-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 transition duration-300"
    >
      Visita la web <Arrow class="size-5 ms-2 -rotate-90" />
    </a>
  )
}
