<header class="flex justify-between items-center py-6 w-[1120px] mx-auto">
  <span></span>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mi</a>
    <a href="#contact">Contacto</a>
  </nav>

  <span></span>
</header>
